.screen-header {
  display: flex;
  padding: var(--horizontal-space);
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons span {
  position: relative;
  margin-left: 25px;
}

.friends-screen {
  padding: var(--horizontal-space);
}

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .fa-cog:hover {
  animation: rotateCog 1s linear infinite;
}
